---
import Product from "./Product.astro";
const { t } = Astro.props;

interface productItem {

}
---

<section class="h-auto flex items-center justify-center max-w-screen-xl mx-auto py-15">
    <div class="w-full motion-opacity-in-5 motion-translate-y-in-25 motion-delay-500">
        {
            t.products.map((product:productItem) => (
                <Product t={product} />
            ))
        }
    </div>
</section>