@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "tailwindcss-intersect";
@plugin "tailwindcss-motion";

@theme {
    --font-primary: 'Montserrat', sans-serif;

    --text-paragraph: 16px;
    --text-get-started: 18px;

    --color-solidcat-primary: #2d1434;
    --color-solidcat-light: #fbf0ff;
}

body {
    font-family: var(--font-primary);
}