---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro';
import NotFound from '../components/404/NotFound.astro';
import Footer from '../components/Footer.astro';

import translations from '../i18n';

const t = translations["en"];
const metaDescription = "Oops! The page you are looking for does not exist. Return to Solid Cat's homepage and explore our services";
---

<Layout lang="en", title="404 Error" description={metaDescription}>
    <div class="h-screen bg-linear-to-b from-solidcat-primary to-black text-solidcat-light">
        <Navbar t={t.navbar} lang="en" />
        <hr>
        <NotFound />
    </div>
    <Footer t={t.footer} lang="en" />
</Layout>