---
import Navbar from '../components/Navbar.astro';
import translations from '../i18n';
import Layout from '../layouts/Layout.astro';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params;
const locale = lang === 'es' ? 'es' : 'en'; 
const t = translations[locale];
---


<Layout lang={lang}>
    <div class="h-screen bg-linear-to-b from-[#2d1434] to-black text-white">
        <Navbar t={t.navbar} lang={lang} />
    </div>
</Layout>