---
const defaultLang = 'es';
---

<html lang={defaultLang}>
  <head>
    <meta http-equiv="refresh" content="0; url=/{defaultLang}" />
    <script>
      window.location.href = "/es";
    </script>
  </head>
  <body>
	<div class="bg-[#2d1434] h-screen">
	</div>
  </body>
</html>
