---
const { t, lang } = Astro.props;
---

<section class="px-10 mt-40 text-[#fbf0ff] max-w-screen-xl mx-auto">
    <div class="max-w-[230px] md:max-w-[400px] lg:max-w-[800px]">
        <h2 class="text-[2.3rem] md:text-[3rem] font-bold leading-tight mb-4">{t.title}</h2>
        <a href={`${lang}/get-started`} class="font-medium text-[30px] border py-2 px-4 hover:bg-[#fbf0ff] hover:text-[#2d1434] transition duration-400 ease-in-out">
            {t.getStartedButton}
        </a>
    </div>
</section>
