---
const { t } = Astro.props;
---

<section class="h-auto flex items-center justify-center p-4 md:p-10 border-y max-w-screen-xl mx-auto mb-10">
    <div class="w-full text-center">
        <h2 class="font-black text-xl md:text-3xl"><span class="text-[#2D1434] bg-[#FBF0FF]">{t.firstPart}</span> {t.secondPart}</h2>
    </div>
</section>