---
const { t } = Astro.props;
---

<section class="h-auto flex items-center justify-center p-4 md:p-10 border-y rounded-xl max-w-screen-xl mx-auto bg-linear-to-b from-black to-solidcat-primary">
    <div class="w-full text-center">
        <h2 class="font-black text-xl md:text-3xl"><span class="text-solidcat-primary bg-solidcat-light">{t.firstPart}</span> {t.secondPart}</h2>
    </div>
</section>