---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import translations from '../../i18n/faq';
import navbarFooterTranslations from '../../i18n';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params;
const locale = lang === 'es' ? 'es' : 'en'; 
const t = translations[locale];
const navbarFooter = navbarFooterTranslations[locale];
---

<Layout lang={lang}>
  <div class="h-screen bg-linear-to-b from-[#2d1434] to-black text-white">
    <Navbar t={navbarFooter.navbar} lang={lang} />
    <hr>
    <h3 class="text-center text-4xl font-black">{t.title}</h3>
</Layout>
